@import 'src/style/base';

.getsat-search-results-list {
  margin: 2rem 5rem;

  .spx-list-component__title {
    margin: 0;

    .spx-text {
      color: $black;
      font-family: $font-family-bold;
      font-size: 2rem;
    }
  }

  .spx-pagination {
    font-family: $font-family-base;
  }
}

.getsat-search-results-list__empty-text {
  font-family: $font-family-base;
  color: $granite;
  font-size: 1.6rem;
  font-weight: 600;
}

@include mediaDesktop {
  .getsat-search-results-list__pagination {
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 4rem;
    margin: 15px 230px;
    width: inherit;
  }
}
