$spx-button--color: #ffffff !default;
$spx-button--background-color: #000000 !default;
$spx-button--padding: 1rem !default;

.spx-button {
  border-style: none;
  color: $spx-button--color;
  background-color: $spx-button--background-color;
  padding: $spx-button--padding;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  min-width: 40px;
  outline: none;
}
