.getsat-reply-card {
  margin-bottom: 2rem;
}

.getsat-reply-card__author {
  font-size: 1.1rem;
  color: #5f5f69;
}

.getsat-reply-card__created-at {
  font-size: 1.1rem;
  color: #82828c;
  margin-left: 1rem;
}

.getsat-reply-card__description {
  font-size: 1.2rem;
  color: #4b4b55;
  margin: 1rem 0;
}
