.textInput__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input[type="text"] {
    width: 100%;
    border: none;
    font-family: OpenSansRegular;
    font-size: inherit;
    &:focus {
      outline: none;
    }
  }
}

@media only screen and (min-width : 320px) {
  .textInput__container {
    font-size: 16px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .textInput__container {
    font-size: 16px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .textInput__container {
    font-size: 18px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .textInput__container {
    font-size: 18px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .textInput__container {
    font-size: 18px;
  }
}
