.getsat-comment-card {
  margin-top: 1rem;
  margin-left: 6.1rem;
}

.getsat-comment-card__author {
  font-size: 1.1rem;
  color: #5f5f69;
}

.getsat-comment-card__created-at {
  font-size: 1.1rem;
  color: #82828c;
  margin-left: 1rem;
}

.getsat-comment-card__description {
  font-size: 1.2rem;
  color: #4b4b55;
  margin: 1rem 0 2.4rem;
}
